* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(48, 82, 112);
  color: #fff;
  padding: 2rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  background-color: rgb(228, 231, 236);
  color: #333;
  padding: 3vw;
  border-radius: 8px;
  box-shadow: 0 3px 20px 4px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 3px 20px 4px rgba(0, 0, 0, 0.25);
  max-width: 600px;
}

main .subtitle {
  margin-bottom: 2em;
  line-height: 1.6;
  color: rgb(57, 5, 70);
}

header h1 {
  margin-bottom: 0.5em;
  text-align: center;
}

#password-form section {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

#password-form input {
  outline: 0;
  border: 1px solid rgb(129, 188, 240);
  border-radius: 4px;
  padding: 0.5rem 0.75rem;
  margin-left: 1rem;
}

#submit {
  background-color: #333;
  padding: 0.5rem 1.25rem;
  color: #fff;
  border-radius: 4px;
  display: inline-block;
  margin-top: 18px;
  cursor: pointer;
  transition: 0.3;
}

#submit:hover {
  filter: brightness(1.5);
}

#success-output,
#error-output {
  margin: 1rem 5px;
}

#success-output {
  color: green;
}

#error-output {
  color: rgb(148, 50, 50);
}
