{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'drf_auth/password_change.css' %}" />
    <script src="{% static 'drf_auth/password_change.js' %}" defer></script>
    <title>Password Change Form</title>
  </head>
  <body>
    <header>
      <h1 class="title">Password Change Form</h1>
    </header>
    <main>
      <p class="subtitle">
        Hi, {{ user }}, you requested a password change for your account at {{ site_name }}. Enter
        your new password and submit.
      </p>

      <form id="password-form">
        <table>
          <tbody>
            <tr>
              <td>
                <label>New Password *</label>
              </td>
              <td>
                <input
                  name="password1"
                  id="password1"
                  type="password"
                  minlength="8"
                  maxlength="100"
                  required
                  placeholder="Your new password..."
                />
              </td>
            </tr>
            <td>
              <label>Confirm Password *</label>
            </td>
            <td>
              <input
                name="password2"
                id="password2"
                type="password"
                minlength="8"
                maxlength="100"
                required
                placeholder="Password Confirmation..."
              />
            </td>
          </tr>
          </tbody>
        </table>
        <section>
          <button type="submit" id="submit">Change Password</button>
        </section>
        <p id="error-output"></p>
        <p id="success-output"></p>
      </form>
    </main>
  </body>
</html>
